.navBar1{

    font-size: 200%;
   font-weight: 500;
}


.navLogo1{
    width: 5%;
    height: auto;
   
}

.navBarHead1{
    font-size: 130%;
    font-weight: 600;   
}

.navItems{
    font-size: 140%;
    font-weight: 600;   
    color: rgb(253, 205, 48);
}

.logUserName{
    color: rgb(255, 255, 255);  
    font-weight: 600;
    font-size: 140%;
    padding-right: 2%;
}